<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>推荐</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
  <table id="ideaTable" lay-filter="ideaTest"></table>
  <script src="/layui/layui.js"></script>
  <script type="text/html" id="handleIcon">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
  <script>
    layui.use(['table', 'layer', 'jquery'], function(){
      var table = layui.table;
      var layer = layui.layer;
      var $ = layui.$;
      
      //第一个实例
      table.render({
        elem: '#ideaTable'
        ,url: '' //数据接口
        ,data: <%- JSON.stringify(idea)%>
        ,page: true //开启分页
        ,cols: [[ //表头
          {field: 'idea_time', title: '发布时间', width: 150, sort: true, fixed: 'left'}
          ,{field: 'type', title: '作品类型', width: 100,
            templet: function (d) {
              if(d.type == 'article') {
                return '文章'
              } else if (d.type == 'photo') {
                return '图片'
              } else if (d.type == 'music') {
                return '音乐'
              } else if (d.type == 'video') {
                return '视频'
              }
            }
          }
          ,{field: 'author_phone', title: '作者', width: 120}
          ,{field: 'idea_title', title: '作品标题', width: 300}
          ,{field: 'idea_content', title: '作品内容（简介）'}
          ,{fixed: 'right', title:'操作', toolbar: '#handleIcon', width: 300}
        ]]
      });

      
      
    });
  </script>
</body>
</html>