<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>举报列表</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <style>
    .img-wrap {
      width:100px;
      height:100px;
      position:relative;
      margin-right: 10px;
      overflow:hidden;
      display: inline-block;
    }
    .cover-img {
      width:100px;
      height:100px;
      position:relative;
      overflow:hidden;
      display: inline-block;
    }
  </style>
</head>
<body>
  <table id="reportTable" lay-filter="reportTest"></table>
  <script src="/layui/layui.js"></script>
  <script type="text/html" id="handleIcon">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="pass">举报通过</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="nopass">举报不通过</a>
  </script>
  <script>
    layui.use(['form', 'table', 'layer', 'jquery'], function(){
      var form = layui.form;
      var table = layui.table;
      var layer = layui.layer;
      var $ = layui.$;
      
      //第一个实例
      table.render({
        elem: '#reportTable'
        ,url: '' //数据接口
        ,data: <%- JSON.stringify(report)%>
        ,page: true //开启分页
        ,cols: [[ //表头
           {field: 'report_time', title: '举报时间', width: 150, sort: true, fixed: 'left'}
          ,{field: 'report_type', title: '举报类别', width: 150,
            templet: function (d) {
              if(d.report_type == '1') {
                return '广告或垃圾信息'
              } else if (d.report_type == '2') {
                return '抄袭或转载'
              } else if (d.report_type == '3') {
                return '其他'
              }
            }
          }
          ,{field: 'user_phone', title: '举报者', width: 120, 
            templet: function (d) {
              if(d.user_phone == '') {
                return '未知'
              } else {
                return d.user_phone
              }
            }
          }
          ,{field: 'idea_title', title: '被举报作品标题', width: 200}
          ,{field: 'report_content', title: '举报原因'}
          ,{fixed: 'right', title:'操作', toolbar: '#handleIcon', width: 300}
        ]]
      });

      //监听行工具事件
      table.on('tool(reportTest)', function(obj){
        var data = obj.data;
        if(obj.event === 'pass'){
          layer.confirm('确定通过举报吗？', function(index){
            $.post("/idea/delIdea",{idea_id: data.idea_id},function(result){
              if(result.status == "ok"){
                $.post("/report_list/delReport",{report_id: data._id},function(result){
                  if(result.success) {
                    obj.del();  //删除对应行（tr）的DOM结构
                    layer.close(index);  //向服务端发送删除指令
                    layer.msg('已删除该作品及此条举报');
                  }
                });
              }else{
                layer.msg('通过失败');
              }
            });
          });
        } else if (obj.event === 'nopass'){
          layer.confirm('确定不通过举报吗？', function(index){
            $.post("/report_list/delReport",{report_id: data._id},function(result){
              if(result.success) {
                obj.del();  //删除对应行（tr）的DOM结构
                layer.close(index);  //向服务端发送删除指令
                layer.msg('已删除此条举报');
              }
            });
          });
        } else if(obj.event === 'detail') {
          $.post("/idea/findOneIdea",{_id: data.idea_id},function(res){
              if(res.success){
                let ideaList = res.resultList
                layer.open({
                  type: 1 //Page层类型
                  ,area: ['800px', '500px']
                  ,title: '详情'
                  ,shade: 0.6 //遮罩透明度
                  ,maxmin: true //允许全屏最小化
                  ,anim: 1 //0-6的动画形式，-1不开启
                  ,success: function(layero, index){
                    form.render();
                    //表单初始赋值
                    form.val('ideaForm', {
                       "idea_title": ideaList.idea_title
                      ,"idea_content": ideaList.idea_content
                    })

                    if(!ideaList.idea_img) {
                      $('#idea-image').hide()
                    }

                    if(ideaList.idea_images.length == 0) {
                      $('#photoBox').hide()
                    }

                    if(!ideaList.idea_file) {
                      $('#idea-music').hide()
                      $('#idea-video').hide()
                    }

                    var ideaImage = document.getElementById("idea-image");
                    if(ideaList.type == 'article' || ideaList.type == 'music' || ideaList.type == 'video') {
                      let oDivImage = document.createElement('div');
                      oDivImage.className="cover-img";
                      oDivImage.innerHTML = "<img style='width:100%;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);' src="+ideaList.idea_img+"></img>";
                      ideaImage.appendChild(oDivImage);
                    }

                    var photoBox = document.getElementById("photoBox");
                    if(ideaList.type == 'photo') {
                      for (let i = 0; i < ideaList.idea_images.length; i++) {
                        let oDiv = document.createElement('div');
                        oDiv.className="img-wrap";
                        oDiv.innerHTML = "<img style='width:100%;position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);' src="+ideaList.idea_images[i]+">";
                        photoBox.appendChild(oDiv);
                      }
                    }

                    var ideaMusic = document.getElementById("idea-music");
                    if(ideaList.type == 'music') {
                      $('#idea-video').hide()
                      let oDivMusic = document.createElement('div');
                      oDivMusic.className="layui-input-block";
                      oDivMusic.innerHTML = "<audio controls src="+ideaList.idea_file+"></audio>";
                      ideaMusic.appendChild(oDivMusic);
                    }

                    var ideaVideo = document.getElementById("idea-video");
                    if(ideaList.type == 'video') {
                      $('#idea-music').hide()
                      let oDivVideo = document.createElement('div');
                      oDivVideo.className="layui-input-block";
                      oDivVideo.innerHTML = "<video width='400' height='200' controls src="+ideaList.idea_file+"></video>";
                      ideaVideo.appendChild(oDivVideo);
                    }

                  }
                  ,content: '<div style="padding:50px;">'
                            +'<form class="layui-form" id="ideaForm" lay-filter="ideaForm" >'

                            +'<div class="layui-form-item">'
                            +'<label class="layui-form-label">标题</label>'
                            +'<div class="layui-input-block">'
                            +'<input type="text" name="idea_title" class="layui-input"  disabled="">'
                            +'</div>'
                            +'</div>'

                            +'<div class="layui-form-item layui-form-text">'
                            +'<label class="layui-form-label">正文</label>'
                            +'<div class="layui-input-block">'
                            +'<textarea name="idea_content" class="layui-textarea" disabled=""></textarea>'
                            +'</div>'
                            +'</div>'

                            +'<div id="idea-image" class="layui-form-item">'
                            +'<label class="layui-form-label">封面</label>'
                            +'</div>'

                            +'<div id="photoBox" class="layui-form-item">'
                            +'<label class="layui-form-label">图片集</label>'
                            +'</div>'

                            +'<div id="idea-music" class="layui-form-item">'
                            +'<label class="layui-form-label">音乐文件</label>'
                            +'</div>'

                            +'<div id="idea-video" class="layui-form-item">'
                            +'<label class="layui-form-label">视频文件</label>'
                            +'</div>'

                            +'<div class="layui-form-item">'
                            +'<div class="layui-input-block">'
                            +'</div>'
                            +'</div>'

                            +'</form>'
                            +'</div>'
                });    
              }else{
                layer.msg('查看失败');
              }
          });
        }
      });


    });
  </script>
</body>
</html>